@font-face {
	font-family: Raleway-Regular;
	src: url(font/Raleway-Regular.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: Raleway-SemiBold;
	src: url(font/Raleway-SemiBold.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: Raleway-Bold;
	src: url(font/Raleway-Bold.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: Raleway-Light;
	src: url(font/Raleway-Light.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: Raleway-Black;
	src: url(font/Raleway-Black.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: OpenSans-Bold;
	src: url(font/OpenSans-Bold.ttf);
	font-weight: normal;
    font-style: normal;
}
body {
	width: 100%;
	margin: 0;
}
p, ul, li, a, h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}
#masthead {
	max-width: 100%;
	min-height: 750px;
	background: url(img/banner.jpg) 50% 50%;
	color: #fff;
	font-family: Raleway-Regular, sans-serif;
	font-size: 22px;
	background-size: cover; 
}
header {
	width: 100%;
}
.header-fixed {
	position: fixed;
	margin: auto;
	max-width: 1170px;
	border-bottom: 1px solid rgba(255,255,255,0.25);
	padding: 40px 0px;
	left: 0;
	right: 0;
}
.header-fixed.fixed {
	background: #2b2e4a;
	border: 0;
	padding: 25px;
	transition: padding 0.7s;
	max-width: 100%;
}
.header-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1170px;
	margin: auto;
}
.navihation ul li {
	list-style: none;
	display: inline-block;
	margin: 0 0 0 60px;
}
.navihation ul li a {
	text-decoration: none;
	color: #cbccd2;
	font-family: Raleway-SemiBold, sans-serif;
	font-size: 13px;
}
.text-masthead {
	text-align: center;
	padding-top: 250px;
}
.text-masthead h1 {
	text-align: center;
	font-family: OpenSans-Bold, sans-serif;
	color: #fff;
	font-size: 65px;
	font-weight: 700px;
	padding-bottom: 20px;
	line-height: 1.1;
}
.masthead-bottom {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background-color: #e84545;
	border-radius: 3px;
	text-align: center;
	font-size: 13px;
	font-weight: 550;
	padding: 15px 40px;
	margin-top: 77px;
}
#features {
	background-color: #ffffff;
	width: 100%;
	min-height: 690px;
}
.features-content {
	min-height: 447px;
	max-width: 1075px;
	margin: auto;
	padding-top: 120px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
}
.features-block {
	text-align: center;
}
.features-block h5 {
	font-family: Raleway-Bold;
	font-size: 15px;
}
.features-block p {
	font-family: Raleway-Regular, sans-serif;
	font-size: 14px;
    line-height: 1.4;
}
#works {
	max-width: 100%;
	height: auto;
	display: grid;
	grid-gap: 0.5px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(2, 350px);
}
#works .work img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#team {
	min-height: 782px;
	width: 100%;
}
.team-content {
	min-height: 580px;
	max-width: 1170px;
	display: flex;
	margin: auto;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	padding: 101px;
	font-family: Raleway-Regular, sans-serif;
}
.team-content h4 {
	padding: 30px 0 11px 0;
	font-size: 22px;
}
.team-content h5 {
	color: #e84545;
}
.team-content p {
	padding: 30px 0;
	color: #6c7279;
	font-size: 14px;
	line-height: 1.4;
}
.team-link a {
	display: inline-block;
	width: 38px;
	height: 38px;
	border: 1px solid #e8ecee;
}
.team-link .fb {
	background: url(img/fb-icon.png) 50% 50% no-repeat;
}
.team-link .tw {
	background: url(img/tw-icon.png) 50% 50% no-repeat;
}
.team-link .in {
	background: url(img/in-icon.png) 50% 50% no-repeat;
}
.clients {
	min-height: 500px;
	background: #565239;
	width: 100%;
}
#download {
	min-height: 339px;
	width: 100%;
	background: #ffff;
}
.download-block {
	text-align: center;
}
.download-block h3 {
	padding: 101px 0 16px 0;
	font-family: Raleway-Light, sans-serif;
	font-size: 28px;
	font-weight: lighter;
}
.download-block p {
	font-family: Raleway-Bold, sans-serif;
	font-size: 13px;
}
.download-block a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background-color: #e84545;
	border-radius: 3px;
	font-size: 13px;
	font-family: Raleway-SemiBold, sans-serif;
	font-weight: 550;
	padding: 18px 83px;
	margin-top: 40px;
}
.footer-content {
	background: #3a3e64;
	min-height: 250px;
	width: 100%;
}
.footer-container {
	display: flex;
	justify-content: space-between;
	max-width: 1017px;
	margin: auto;
	padding-top: 71px; 

}
.footer-block h5 {
	text-align: center;
	color: #ffffff;
	font-family: Raleway-SemiBold, sans-serif;
	font-size: 14px;
	padding-bottom: 22px;
}
.footer-block p {
	text-align: center;
	color: #9d9fb2;
	font-family: Raleway-Regular, sans-serif;
	font-size: 14px;
    line-height: 1.5;
}
.footer-link a {
	display: inline-block;
	width: 36px;
	height: 36px;
	border: 2px solid #e8ecee;
	padding: 0 1px;
}
.footer-link .fb {
	background: url(img/fb-icon-footer.png) 50% 50% no-repeat;
}
.footer-link .tw {
	background: url(img/tw-icon-footer.png) 50% 50% no-repeat;
}
.footer-link .in {
	background: url(img/in-icon-footer.png) 50% 50% no-repeat;
}
.copyright {
	background: #313454;
	width: 100%;
	height: 94px;
	text-align: center;
}




@media (max-width: 1200px) {
	#works { grid-template-columns: 1fr 1fr; 
			 grid-template-rows: repeat(4, 350px);} 
}
@media (max-width: 765px) {
	#works { grid-template-columns: 1fr; 
			 grid-template-rows: repeat(8, 350px);} 
}

