@font-face {
	font-family: Raleway-Regular;
	src: url(font/Raleway-Regular.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: Raleway-SemiBold;
	src: url(font/Raleway-SemiBold.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: Raleway-Light;
	src: url(font/Raleway-Light.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: Raleway-Black;
	src: url(font/Raleway-Black.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: OpenSans-Bold;
	src: url(font/OpenSans-Bold.ttf);
	font-weight: normal;
    font-style: normal;
}
body {
	width: 100%;
	margin: 0;
}
p, ul, li, a, h1 {
	padding: 0;
	margin: 0;
}
.masthead {
	width: 100%;
	min-height: 750px;
	background: url(img/banner.jpg) 50% 50%;
	color: #fff;
	font-family: Raleway-Regular;
	font-size: 22px;
	background-size: cover; 
}
header {
	width: 100%;
}
.header-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	max-width: 1170px;
	border-bottom: 1px solid rgba(255,255,255,0.25);
	padding: 40px 0px;
}
.navihation ul li {
	list-style: none;
	display: inline-block;
	margin: 0 0 0 60px;
}
.navihation ul li a {
	text-decoration: none;
	color: #cbccd2;
	font-family: Raleway-SemiBold, sans-serif;
	font-size: 13px;
}
.text-masthead {
	text-align: center;
	padding-top: 150px;
}
.text-masthead h1 {
	text-align: center;
	font-family: OpenSans-Bold, sans-serif;
	color: #fff;
	font-size: 65px;
	font-weight: 700px;
	padding-bottom: 20px;
	line-height: 1.1;
}
.masthead-bottom {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background-color: #e84545;
	border-radius: 3px;
	text-align: center;
	font-size: 13px;
	font-weight: 550;
	white-space: nowrap;
	padding: 15px 40px;
	margin-top: 77px;
}