@font-face {
	font-family: Raleway-Regular;
	src: url(font/Raleway-Regular.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: Raleway-SemiBold;
	src: url(font/Raleway-SemiBold.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: Raleway-Bold;
	src: url(font/Raleway-Bold.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: Raleway-Light;
	src: url(font/Raleway-Light.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: Raleway-Black;
	src: url(font/Raleway-Black.ttf);
	font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: OpenSans-Bold;
	src: url(font/OpenSans-Bold.ttf);
	font-weight: normal;
    font-style: normal;
}
body {
	width: 100%;
	margin: 0;
}
p, ul, li, a, h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}
.masthead {
	max-width: 100%;
	min-height: 750px;
	background: url(img/banner.jpg) 50% 50%;
	color: #fff;
	font-family: Raleway-Regular, sans-serif;
	font-size: 22px;
	background-size: cover; 
}
header {
	width: 100%;
}
.header-content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
	max-width: 1170px;
	border-bottom: 1px solid rgba(255,255,255,0.25);
	padding: 40px 0px;
}
.navihation ul li {
	list-style: none;
	display: inline-block;
	margin: 0 0 0 60px;
}
.navihation ul li a {
	text-decoration: none;
	color: #cbccd2;
	font-family: Raleway-SemiBold, sans-serif;
	font-size: 13px;
}
.text-masthead {
	text-align: center;
	padding-top: 150px;
}
.text-masthead h1 {
	text-align: center;
	font-family: OpenSans-Bold, sans-serif;
	color: #fff;
	font-size: 65px;
	font-weight: 700px;
	padding-bottom: 20px;
	line-height: 1.1;
}
.masthead-bottom {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	background-color: #e84545;
	border-radius: 3px;
	text-align: center;
	font-size: 13px;
	font-weight: 550;
	white-space: nowrap;
	padding: 15px 40px;
	margin-top: 77px;
}
#features {
	background-color: #ffffff;
	width: 100%;
	min-height: 690px;
}
.features-content {
	min-height: 447px;
	max-width: 1075px;
	margin: auto;
	padding-top: 120px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
}
.features-block {
	text-align: center;
}
.features-block h5 {
	font-family: Raleway-Bold;
	font-size: 15px;
}
.features-block p {
	font-family: Raleway-Regular, sans-serif;
	font-size: 14px;
    line-height: 1.4;
}
#works {
	max-width: 100%;
	height: auto;
	display: grid;
	grid-gap: 0.5px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(2, 350px);
}
#works .work img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}










@media (max-width: 1200px) {
	#works { grid-template-columns: 1fr 1fr; 
			 grid-template-rows: repeat(4, 350px);} 
}
@media (max-width: 765px) {
	#works { grid-template-columns: 1fr; 
			 grid-template-rows: repeat(8, 350px);} 
}

